---
import Layout from '../layouts/Layout.astro';
import FloatingAvatar from '../components/FloadingAvatar.astro';
---

<Layout title="Michael Duren">
  <div class="wrapper">
    <div class="content">
      <header>
        <h1>Michael Duren</h1>
        <h2 class="h3">Software Engineer</h2>
      </header>
      <main>
        <p class="hello"
          >Hi, I'm Michael a software engineer and musician from Minnesota.</p
        >
      </main>
    </div>
    <aside>
      <div class="floating-avatar">
        <FloatingAvatar />
      </div>
    </aside>
  </div>

  <style>
    .wrapper {
      height: 100vh;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      border: 1px solid red;
    }

    .content {
      margin-left: 10%;
      width: 50vw;
    }
    .hello {
      font-size: 2rem;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    main {
      margin: auto;
    }
    header {
      display: flex;
      flex-direction: column;
      color: hsl(var(--light-gray));
    }
    h1 {
      font-weight: 900;
      margin: 0;
    }

    .floating-avatar {
      position: absolute;
      top: 50%;
      right: 15%;
      transform: translateY(-50%);
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
