---
import Layout from '../layouts/Layout.astro';
import FloatingAvatar from '../components/FloadingAvatar.astro';
---

<Layout title="Michael Duren">
  <div class="wrapper">
    <div class="content">
      <header>
        <h1>Michael Duren</h1>
        <h2 class="h3">Software Engineer</h2>
      </header>
      <main> </main>
    </div>
    <aside>
      <div class="floating-avatar">
        <FloatingAvatar />
      </div>
    </aside>
  </div>

  <style>
    .wrapper {
      height: 100vh;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
    }

    .content {
      margin-left: 10%;
      width: 50vw;
      display: flex;
      flex-direction: column;
    }
    .hello {
      font-size: 2rem;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    main {
      margin: auto;
    }

    header {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
      background-color: hsl(var(--transparent));
      display: flex;
      flex-direction: column;
      width: max-content;
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: hsl(var(--light-gray));
    }
    h1 {
      font-weight: 900;
      margin: 0;
    }

    .floating-avatar {
      position: absolute;
      top: 55%;
      right: 15%;
      transform: translateY(-50%);
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
