---
import Layout from '../layouts/Layout.astro';
import FloatingAvatar from '../components/FloadingAvatar.astro';
---

<Layout title="Michael Duren">
  <main>
    <h1>Michael<span class="text-gradient"> Duren</span></h1>
    <div class="floating-avatar">
      <FloatingAvatar />
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      height: 100vh;
      position: relative;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }

    .floating-avatar {
      position: absolute;
      top: 50%;
      right: 15%;
      transform: translateY(-50%);
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
