<form>
  <h3 class="h4">Contact Me</h3>
  <div>
    <input type="text" placeholder="name" />
    <input type="email" placeholder="email" />
  </div>
  <textarea placeholder="message"></textarea>
  <button>Submit</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
  }
</style>
